<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
</head>
<body>
<br/>

<br/><br/>

<div style="text-align:center">
    <form th:action="@{/user}" method="post">
        <!-- 如果user不为空，发送put请求修改用户 -->
        <!-- 发送put请求的过程
            1、SpringMVC中配置HiddenHttpMethodFilter;（SpringBoot自动配置好的）
			2、页面创建一个post表单
			3、创建一个input项，name="_method";值就是指定的请求方式如put、delete
		-->
        <input type="hidden" name="_method" value="put" th:if="${user != null}"/>
        <input type="hidden" name="id" th:if="${user != null}" th:value="${user.id}"/>

        <table border="1" cellpadding="3" cellspacing="0" style="width: 60%;margin:auto">
            <thead th:text="${user != null}?'修改用户':'添加用户'"></thead>
            <tbody>
            <tr>
                <td>姓氏：</td>
                <td><input name="lastName" type="text" placeholder="请输入姓氏" th:value="${user != null}?${user.lastName}"/></td>
            </tr>
            <tr>
                <td>邮箱：</td>
                <td><input name="email" type="text" placeholder="请输入邮箱" th:value="${user != null}?${user.email}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" th:text="${user != null}?'修改':'添加'" ></button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>